body{
    background: black;
    color: white;
}

.booksList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
    gap: 15px;
}

.book{
    width: 100%;
    height: auto;
}
.book > img{
    width: 100%;
    height: auto;
}